# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Compiled files
*.opendb
*.iobj
*.ipdb
*.log
*.pdb
*.iobj
*.iobj
*.ipdb
*.log
*.pdb
x64\*
mats\*
.vs\*
.vs/GLtemplate/v15/.suo
.vs/GLtemplate/v15/Browse.VC.db
.vs/GLtemplate/v15/ipch/AutoPCH/aefb7d72427699d3/MAIN.ipch
.vs/GLtemplate/v15/ipch/AutoPCH/df7695f751005a23/MAIN.ipch
*.ipch
*.iobj
x64/Release/GLtemplate.iobj
x64/Release/GLtemplate.ipdb
*.txt
